
		/*////////////////////////  TOUTE LES PAGES    ///////////////////////////////  */
*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}
.btn{
	font-weight: bold;
}

		/*////////////////////////  MENU    ///////////////////////////////  */
nav{
	width: 100%;
}
#menu{
	width: 100%;
}
#titre{
	color: blue;
	font-weight: bold;
	font-size: 2em;
}
.nav-link{
	margin-left: 25px;
	border-bottom: 2px solid #f8f8f8;
}
.nav-link:hover{
	border-bottom: 2px solid #386473;
}

		/*////////////////////////  TITRES    ///////////////////////////////  */
h1{
	padding-top: 50px;
}
h2{
	text-align: center;
	color: blue;
	background-color: #f8f8f8;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
	padding-top: 40px;
	padding-bottom: 40px;	
}
h3{
	text-align: center;
	font-size: 2.5em;
}

		/*////////////////////////  A PROPOS   ///////////////////////////////  */
.aPropos{
	margin-left: 20%;
	margin-right: 20%;
	background-color: #fcfcfc;
}
.aPropos h3{
	text-align: left;
}
.aPropos p{
	text-align: left;
}

		/*////////////////////////  CONTACT   ///////////////////////////////  */
.boutonEnvoyer{
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #007bff;
}
.boutonEnvoyez p{
	font-size: 2em;
	font-weight: bold;
}

		/*////////////////////////  INSCRIPTION   ///////////////////////////////  */
.container p{
	text-align: center;
}

		/*////////////////////////  CONNEXION   ///////////////////////////////  */
.checkbox{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 19px;
}
.checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.checkbox:hover input ~ .checkmark{
  background-color: #ccc;
}
.checkbox input:checked ~ .checkmark{
  background-color: #2196F3;
}
.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark:after{
  display: block;
}
.checkbox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

		/*////////////////////////  PROFIL    ///////////////////////////////  */
#infoProfil{
	background-color: #f8f8f8;
	border-radius: 10px;
	padding: 20px;
}
#infoProfil p{
	font-size: 2em;
}
#infoProfil li{
	font-size: 1.2em;
	margin-bottom: 15px;
}
#infoProfil ul{
	list-style-type: none;
}
#modifierProfil{
	margin: 30px;
}
#deconnexion{
	margin-top: 10px;
}
		/*////////////////////////  GESTION PROFIL    ///////////////////////////////  */
#inscription{
	margin-right: 50px;
}
#publierAvatar{
	margin: 20px;
}
		/*////////////////////////  FOOTER    ///////////////////////////////  */
#pied_de_page{
	color: black; 
	text-align: center;
	margin-top: 20px;
}
footer{
	background-color: #f8f8f8;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid black;
}

		/*////////////////////////  MESSAGE ERREUR    ///////////////////////////////  */
#message_erreur{
	margin-top: 30px;
	font-size: 1.2em;
	text-align: center;
}

@media screen and (max-width: 1200px){

#modifierProfil{
	margin: 20px;
	margin-left: 0px;
}

@media screen and (max-width: 400px){

h3{
	font-size: 2em;
}
#titre{
	font-size: 1.5em;
}
#modifierProfil{
	margin: 20px;
}
#infoProfil li{
	font-size: 1em;
	margin-bottom: 0px;
}
#infoProfil p{
	font-size: 1.5em;
}
.btn{
	font-size: 0.8em;
}


}